<style>
  main {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    gap: calc(var(--spacing) / 2);
  }

  h1 {
    text-align: center;
  }

  ul {
    list-style-type: none;
  }
</style>

<main>
  <h1 class="title">Books</h1>
  <% if (books.length === 0) { %>
  <%- include('../partials/empty', { fallback }) %>
  <% } else { %>
  <ul class="book-list">
    <% books.forEach(book => { %>
    <%- include('../partials/bookCard', { book }) %>
    <% }) %>
  </ul>
  <% } %>
</main>
