<main>
  <h1>Books</h1>
  <ul>
    <% if (books.length === 0) { %>
    <li>There are no books yet</li>
    <% } %>
    <% books.forEach(book => { %>
    <li>
      <a href="/books/<%= book.id %>"><%= book.title %></a> by
      <%= book.author %>
    </li>
    <% }) %>
  </ul>
  <a href="/books/add">Add a new book</a>
</main>
