<form action="<%= action %>" method="post" id="deleteForm">
  <p><%= warning %></p>
  <div class="form-field">
    <label for="password">Enter the admin password</label>
    <input
      type="password"
      name="password"
      id="password"
      required
      placeholder="*********"
    />
  </div>
</form>
