<section class="empty-section">
  <img src="/assets/box.png" alt="" />
  <p><%= fallback.description %></p>
  <a class="link" href="<%= fallback.link.href %>"><%= fallback.link.call %></a>
</section>
