<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 200px;
    height: 200px;
  }
</style>

<section>
  <img src="/assets/box.png" alt="" />
  <p><%= fallback.description %></p>
  <a class="link" href="<%= fallback.link.href %>"><%= fallback.link.call %></a>
</section>
