<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add genre</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <main>
      <h1>Add a new genre</h1>
      <form action="/genres/add" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
        <button type="submit">Add Genre</button>
      </form>
      <a href="/genres">Back to Genres</a>
    </main>
  </body>
</html>
