main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
}

#deleteGenreForm {
  align-self: flex-start;
}

.books {
  align-self: stretch;
}

.actions {
  display: flex;
  gap: var(--spacing);
}
