main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

.genres-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
  gap: calc(var(--spacing) / 2);
  list-style: none;
}

.genre-link {
  text-decoration: none;
  color: var(--foreground);
  background-color: var(--background-light);
  padding: 4px 16px;
  border-radius: 16px;

  &:hover {
    opacity: 0.5;
  }
}
