<style>
  main {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    gap: var(--spacing);
  }

  h1 {
    text-align: center;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing);

    & > search {
      flex: 1;
    }

    & > .link {
      align-self: flex-end;
      margin-bottom: 8px;
    }
  }
</style>

<% const searchOptions = { action: '/books', label: 'Search by title or author', placeholder: 'Search books...', } %>

<main>
  <h1 class="title">Books</h1>
  <div class="actions">
    <%- include('../../partials/search', searchOptions) %>
    <a class="link" href="books/add"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 5l0 14" />
        <path d="M5 12l14 0" /></svg
      >Add a new book</a
    >
  </div>
  <% if (books.length === 0) { %>
  <%- include('../../partials/empty', { fallback }) %>
  <% } else { %>
  <%- include('../partials/bookList', { books }) %>
  <% } %>
</main>
