:root {
  --foreground: #f0f0f0;
  --foreground-dark: #c0c0c0;
  --background: #1d1c1c;
  --background-light: #444444;
  --spacing: 16px;
  --primary: #83bee8;
  --danger: #e88383;
}

body {
  height: 100dvh;
  font-family: sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
  color: var(--foreground);
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);

  & ul {
    display: flex;
    gap: var(--spacing);
    list-style: none;
  }
}

.title {
  font-weight: bold;
  font-size: 3rem;
}

.link {
  display: flex;
  text-decoration: none;
  gap: calc(var(--spacing) / 4);
  color: var(--primary);
  position: relative;

  &:hover {
    opacity: 0.5;

    &::after {
      width: 100%;
    }
  }

  &::after {
    position: absolute;
    bottom: -2px;
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--primary);
  }
}

svg {
  flex-shrink: 0;
}
