main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h1 {
    margin-bottom: calc(var(--spacing) / 2);
  }

  & p {
    margin-bottom: calc(var(--spacing) / 4);
  }
}
