:root {
  --foreground: #f0f0f0;
  --background: #1d1c1c;
  --spacing: 16px;
}

body {
  height: 100dvh;
  font-family: sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
  color: var(--foreground);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);

  & ul {
    display: flex;
    gap: var(--spacing);
    list-style: none;
  }
}

.link {
  --foreground: #83bee8;

  display: flex;
  text-decoration: none;
  gap: calc(var(--spacing) / 4);
  color: var(--foreground);
  position: relative;

  &:hover {
    opacity: 0.5;

    &::after {
      width: 100%;
    }
  }

  &::after {
    position: absolute;
    bottom: 0px;
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--foreground);
    z-index: 1;
  }
}
