main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding-block: var(--spacing);

  & .title {
    text-align: center;
  }

  & h2 {
    font-weight: bold;
  }
}

.book-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-cover {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);

  & img {
    width: 100vw;
    max-height: 520px;
    object-fit: contain;
  }

  & figcaption {
    text-align: center;
    color: var(--foreground-dark);
    font-weight: bold;
  }
}

.description {
  padding-inline: var(--spacing);
}

.book-info {
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  padding-block: calc(var(--spacing) * 2);
}

.book-details {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing) * 3);
}

.book-details__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing) / 4);

  & h3 {
    font-weight: bold;
  }

  & p {
    font-size: 0.85rem;
  }

  & svg {
    width: 32px;
    height: 32px;
  }
}

.genres {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing) / 2);

  & ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 300px;
    gap: calc(var(--spacing) / 2);
    list-style: none;
  }
}

.genre {
  background-color: var(--background);
  font-size: 0.9rem;
  padding: 4px 16px;
  border-radius: 16px;
}

.fallback {
  font-style: italic;
}

footer {
  display: flex;
  justify-content: center;
  gap: var(--spacing);
  padding: var(--spacing);
}
